:root {
    --search-btn-color: #f8bd19;
    --header-color: #131921;
    --black-color: #000;
    --white-color: #fff;
    --nav-color:#2e354c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* header section starts here */
header {
    width: 100%;
    background-color: var(--nav-color);
    padding: 10px;
    color: #c4c4c4;
}

/* for mobile */

/* mobile-header-top */
#mobile-header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile-header-top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

#mobile-header-top-left i {
    font-size: 25px;

}

#mobile-header-top-right {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}

#mobile-header-top-right i {
    font-size: 25px;
}

/* mobile-header-search */

#mobile-header-search {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

#mobile-header-search input {
    width: 90%;
    border: none;
    outline: none;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mobile-header-search button {
    border: none;
    outline: none;
    padding: 9.2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--search-btn-color);
}

#mobile-header-search button i {
    font-size: 20px;
}

/* mobile-header-links */

#mobile-header-links {
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid grey;
}

#mobile-header-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#mobile-header-links ul a {
    font-size: 0.9rem;
}

/* for mobile */


/* for tablet */
#tablet-div-logo {
    display: none;
}

#tablet-div-country {
    display: none;
}

#tablet-div-search {
    display: none;
}

#nav-tools {
    display: none;
}

/* for tablet */
/* Media Queries for tablet */
@media (min-width: 768px) {

    #mobile-header-top,
    #mobile-header-search,
    #mobile-header-links {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--header-color);
        color:var(--white-color);
    }

    #tablet-div-logo {
        display: flex;
    }

    #tablet-div-country {
        display: flex;
        align-items: flex-end;
    }

    #tablet-div-country p {
        font-size: 0.8rem;
    }

    #tablet-div-country h1 {
        font-size: 1rem;
    }

    #tablet-div-search {
        flex: 1;
        display: flex;
        max-width: 2000px;
    }

    .tablet-div-input {
        padding: 10px 5px;
        border: none;
        outline: none;
        width: 100%;
    }

    .tablet-div-button {
        padding: 10px 10px;
        border: none;
        outline: none;
        background-color: var(--search-btn-color);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #search-all-button button {
        padding: 13px 10px;
        border: none;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .tablet-div-button i {
        font-size: 15px;
    }

    #nav-tools {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #nav-tools p {
        font-size: 0.8rem;
    }

    #nav-tools h1 {
        font-size: 1rem;
    }

    #nav-tools i {
        font-size: 25px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
    }

    #nav-tools i:hover {
        transform: scale(1.5);
    }

    #nav-tools div:hover {
        border-bottom: 1px solid var(--white-color);
    }
}


/* Media Queries for Desktop */
@media (min-width: 1025px) {

    header {
        gap: 20px;
        padding: 10px 20px;
    }

    #nav-tools {
        gap: 20px;
    }

}

/* header section ends here */

/* div for desktop and tablets */
#nav-links {
    display: none;
}

/* media Queries for desktop and tablet */
@media (min-width: 768px) {
    #nav-links {
        display: block;
        width: 100%;
        background-color: var(--nav-color);
        color: var(--white-color);
        padding: 10px 20px;
    }

    #nav-links ul {
        display: flex;
        gap: 20px;
    }
}

/* div for desktop and tablets */


/* Hero section starts here */

/* for desktop & tablets */
#hero-desktop {
    display: none;
}

/* media Queries for desktop and tablet */
@media (min-width: 768px) {
    #hero-desktop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero-desktop img {
        width: 100%;
        mask-image: linear-gradient(to bottom, #000 50%, transparent 100%);
        mask-size: cover;
        mask-repeat: no-repeat;
        max-width: 1600px;
    }
}

/* for desktop & tablets */

/* Hero section ends here */



/* Main section starts here */

/* for desktop and tablets */

/* tagline div starts here  */
#tagline {
    display: none;
}

/* media Queries for tablet */
@media (min-width: 768px) and (max-width:1024px) {

    main {
        width: 100%;
        position: absolute;
        top: 255px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
    }

    #tagline {
        display: flex;
        justify-content: center;
        width: 95%;
        background-color: var(--white-color);
        color: var(--black-color);
        text-align: center;
        padding: 5px 10px;
    }
}

/* media Queries for desktop */
@media (min-width:1025px) {

    main {
        width: 100%;
        position: absolute;
        top: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
    }



    #tagline {
        display: flex;
        justify-content: center;
        width: 95%;
        background-color: var(--white-color);
        color: var(--black-color);
        text-align: center;
        padding: 10px;
        max-width: 1500px;
    }

}

/* tagline div ends here  */


/* product container starts here */
.product-grid-container {
    display: none;
}

/* media Queries for tablet */
@media (min-width: 768px) and (max-width:1024px) {
    main {
        flex-direction: column;
        gap: 20px;

    }

    .product-grid-container {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .product {
        width: 100%;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    .product h2 {
        font-size: 1.2rem;
    }

    .product-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
    }

    .product-img {
        width: 45%;
    }

    .product-img img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .product-img p {
        font-size: 0.7rem;
    }

    .product a {
        font-size: 0.8rem;
        color: #009999;
    }

    .product a:hover {
        color: var(--black-color);
    }

    .product:hover {
        transform: scale(1.02);
    }

    .product-img p:hover {
        text-decoration: underline;
    }
}

/* media Queries for desktop */
@media (min-width:1025px) {
    main {
        flex-direction: column;
        gap: 20px;

    }

    .product-grid-container {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1500px;
    }

    .product {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    .product h2 {
        font-size: 1.4rem;
    }

    .product-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
    }

    .product-img {
        width: 45%;
    }

    .product-img img {
        width: 100%;
         object-fit: cover;
    }

    .product-img p {
        font-size: 0.9rem;
    }

    .product a {
        font-size: 1rem;
        color: #009999;
    }

    .product:hover {
         transform: scale(1.02);
    }

    .product-img p:hover {
        text-decoration: underline;
    }

    .product a:hover {
        color: var(--black-color);
    }
}

/* product container ends here */


/* product-slider starts here */
.product-slider {
    display: none;
}

@media (min-width: 768px) {
    .product-slider {
        display: block;
        width: 95%;
        background-color: var(--white-color);
        padding: 10px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
        max-width: 1500px;
    }

    .slider-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .slider-img img {
        max-width: 12%;
    }
     .slider-img img:hover{
        transform: scale(1.05);
     }
}

/*product-slider ends here  */

/* for desktop and tablet */


/* Main section ends here */